@font-face {
    font-family: 'ChineseRocks';
    src: url('fonts/chinese_rocks_rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	font-family: 'ChineseRocks';
}

.navbar {
	z-index: 1;
	position:fixed;
	display: inline;
	width:100%;
	font-size: 20px;
	background: #353535;
	padding: 0px;
	margin: 0px;
	opacity: 0;
}

.navbar:hover {
	opacity: 1;
}

.navbar a {
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
	height: 45px;
	padding: 10px;
	float: left;
}

.navbar a:hover {
	background: white;
	color: black;
}

.active {
	background: #86bbd8;
}


* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

#play-button {
	width: 350px;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
}

.threewidewrapper {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
}


.option1 {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	width: 250px;
	object-fit: fill;
}


.option2 {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	width: 250px;
	object-fit: fill;
}

.option3 {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	width: 250px;
	object-fit: fill;
}


#optionButtonWrapper1 {
	display: none;
}

#optionButtonWrapper2 {
	display: none;
}

#optionButtonWrapper3 {
	display: none;
}

#optionButtonWrapper4 {
	display: none;
}

#optionButtonWrapper5 {
	display: none;
}

#muteButton {
	position: fixed;
	bottom: 0;
	left: 0;
	padding-bottom: 40px;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 10px;
	z-index: 69;
}

#clickToUnmute {
	position: fixed;
	bottom: 0;
	left: 0;
	color: white;
	font-size: 20px;
	padding-bottom: 60px;
	padding-left: 240px;
	z-index: 50;
}

#skipButton {
	position: fixed;
	bottom: 0;
	right: 0;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 40px;

}